.main__breadcrumb{display:flex}.main__breadcrumb>li{padding:10px 0}.main__breadcrumb>li:first-child{padding-left:10px;border-left:4px solid #f9d901}.main__breadcrumb .breadcrumb__icon{margin:0 10px;font-size:20px;padding-left:0;padding-right:0}.main__breadcrumb a{font-size:20px;color:#292929;text-transform:uppercase}@media screen and (max-width: 400px){.main__breadcrumb{padding:5px 0 5px 10px}.main__breadcrumb .breadcrumb__icon{font-size:14px}.main__breadcrumb a{font-size:14px}}
