.main {
  margin-top: 22px;
  margin-bottom: 55px;
  &__form {
    margin: 0 auto;
    max-width: 485px;

    .title-border-left {
      margin: 25px 0;
      font-size: 16px;
      padding-left: 15px;
    }

    .form-row {
      margin: 0;
      padding: 20px;
      border: 2px solid #eee;

      input,
      select {
        border-radius: 0;
        border: 2px solid #eee;
      }

      label {
        color: #000;
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    .form-submit {
      width: 100%;
      height: 42px;
      color: white;
      border-radius: 0;
      background: #459e4a;
      text-transform: uppercase;
    }
  }

  @media screen and (min-width:768px) {
    .tell-group {
      & > div {
        &:nth-child(1) {
          padding-right: 15px !important;
        } 
        &:nth-child(2) {
          padding-left: 15px !important;
        }
      }
    }
  }
  
}