.main {
  &__breadcrumb {
    display: flex;

    & > li {
      padding: 10px 0;
      &:first-child {
        padding-left: 10px;
        border-left: 4px solid #f9d901;
      }
    }

    .breadcrumb {
      &__icon {
        margin: 0 10px;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
      }
    }

    a {
      font-size: 20px;
      color: #292929;
      text-transform: uppercase;
    }

    @media screen and (max-width: 400px) {
      padding: 5px 0 5px 10px;
      .breadcrumb {
        &__icon {
          font-size: 14px;
        }
      }
  
      a {
        font-size: 14px;
      }
    }
  }
}