.header{
  border-top: 1px solid #f9d901;
  &__topbar {
    .topbar {
      &__top {
        background: #161616;
        padding: 5px 0;
        .container_serie-ds {
          & > span {
            color: #8c8c8c;
          }
          .navbar-toggler {
            padding: 0;
            display: none;
            svg {
              color: #f7d900;
              font-size: 28px;
            }
          }
          @media screen and (max-width: 1100px){
            & > span:nth-of-type(1) {
              display: none;
            }
          }
  
          @media screen and (max-width: 992px){
            .navbar-toggler {
              display: block;
            }
            .logo {
              margin-left: 15px;
            }
            & > span,
            .login,
            .help {
              display: none;
            }
          }
        }
      }
      &__search {
        padding: 5px 0;
        background: #232323;
        .search {
          &__selections {
            padding-bottom: 6px;
            position: relative;
            border-bottom: 1px solid #f9d901;
            
            &.active {
              margin-right: 16px;
            }

            select {
              height: 35px;
              padding: 0 30px 0 10px;
              margin-left: 5px;
              border-radius: 3px;
              background: white;
              color: #a9a9a9;
              font-weight: normal;
              border: none;

              background: url('../../images/arrow-select.png') no-repeat right #eeeeee;

              -webkit-appearance: none; 
              -moz-appearance: none; 
              appearance: none; 

              &:first-of-type {
                margin-left: 0;
              }

              &.active-select {
                color: #292929;
                font-weight: 600;
                background-color: #f9d901;
              }

              & + .active-line {
                height: 2px;
                width: 181px;
                top: 39px;
                right: 0;
                position: absolute;
                background: #f9d901;

                @media screen and (max-width: 991px){
                  left: 0;
                }
              }
            }
          }
          &__input-search {
            width: 100%;
            padding-left: 20px;
            padding-bottom: 6px;
            border-left: 1px solid #434343;
            input {
              width: 100%;
            }
          }
        }

        .txt-busca {
          display: flex;
          align-items: center;
          
          padding-left: 12px;
          
          height: 42px;
          width: 85px;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          color: #f9d901;
    
          padding-bottom: 6px;
          margin-right: 15px;
          border-bottom: 1px solid #f9d901;
        }

        .btn_clean-filter {
          color: #a9a9a9;
          text-align: left;
          margin-left: 10px;
          span {
            font-size: 12px;
            line-height: 16px;
          }
        }

        @media screen and (max-width:992px) {
          & > .container_serie-ds{
            flex-direction: column;
            .search {
              &__selections {
                width: calc(100% - 109px);
                align-self: flex-start;

                margin-right: 0;
                padding-bottom: 0;
                flex-direction: column;
                select {
                  margin-left: 0;
                  margin-bottom: 13px;
                  & + .active-line {
                    width: 100%;
                    left: 0;
                  }
                }

                &.active {
                  width: 100%;
                }
              }
              &__input-search {
                padding-left: 0px;
                border-left: none;
                margin-top: 10px;
                margin-bottom: 5px;
                input {
                  width: 100%;
                }
              }
            }
          }

          .txt-busca {
            padding-bottom: 18px;
            padding-left: 35px;
            width: 108px;
            position: absolute;
            margin-right: 21px;
            margin-top: 7px;
            right: 0;
          }
        }
      }
    }
  }

  &__simple-topbar {
    background: #000;
    & > .container_serie-ds {
      height: 78px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media screen and (max-width: 400px){
      & > .container_serie-ds {
        height: 60px;
        justify-content: center;
      }

      .simple-topbar{
        &__site-seguro-img{
          display: none;
        }
      }
    }
  }

  &__topbar--fixed {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    position: fixed;
    background: #161616;
    & > .container_serie-ds {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .topbar--fixed {
      &__menu {
        padding: 5px 6px;
        border-radius: 3px;
        margin-right: -20px;
        border: 1px solid #f9d901;
      }
    }
    .logo {
      width: 123px;
      max-width: 123px;
      .logo {
        &__img {
          width: 29px;
        }
        &__text {
          width: 88px;
        }
      }
    }
    .form-search {
      width: 52%;
    }
    @media screen and (max-width: 1150px) {
      .topbar--fixed {
        &__menu {
          margin-right: -10px;
        }
      }
      .form-search {
        width: 49%;
      }
    }
    @media screen and (max-width: 1000px) {
      .topbar--fixed {
        &__menu {
          margin-right: 0px;
        }
      }
      .form-search {
        width: 46%;
      }
    }
  }

  &__menu {
    &.fixed {
      left: 0;
      top: 60px;
      width: 100%;
      z-index: 100;
      position: fixed;
      background: white;
      box-shadow: 1px 1px 5px #29292920;
      & > ul {
        & > li {
          & > ul {
            & > li {
              & > ul {
                top: 95px !important;
              }
            }
          }
        }
      }
      & ~ * {
        margin-top: 35px;
      }
    }

    .menu {
      &__see-all {
        display: flex;
        align-items: center;
        & > span {
          margin: 0 10px;
          color: #161616;
          font-weight: bold;
        }
      }
    }
  }

  @media screen and (min-width: 992px) {
    &__menu {
      padding: 3px 0;
      border-bottom: 1px solid #e5e5e5;
      &:not(.fixed){
        display: block !important;
      }
      & > .navbar-toggler {
        display: none;
      }

      .container_serie-ds {
        display: flex;
        justify-content: space-between;

        /* & > li {
          margin-right: 26.5px;
          &:last-of-type {
            margin-right: 0;
          }
        } */

        & > .menu {
          &__see-all {
            position: relative;
            margin-left: 10px;
            min-width: 165px;

            &:hover {
              .see-all__submenus {
                display: flex;
              }
              &::before {
                content: "";
                top: 0;
                z-index: 55;
                right: -55px;
                width: 100vw;
                height: 100vh;
                margin-top: 35px;
                position: absolute;
                background: #292929;
              }
            }

            .see-all {
              &__submenus {
                top: 100%;

                left: 0;
                z-index: 111;
                position: absolute;
                background: transparent;
                align-items: center;
                flex-direction: column;
                
                width: 628px;
                height: 390px;
                max-height: 390px;
                overflow-y: auto;
                overflow-x: visible;

                direction: rtl;
                display: none;
                align-items: flex-end;

                &::-webkit-scrollbar {
                  width: 8px;
                  height: 8px;
                }
                
                &::-webkit-scrollbar-track {
                  border-radius: 10px;
                  background: #292929;
                  border: 1px solid #535353;
                }
                
                &::-webkit-scrollbar-thumb {
                  max-height: 10px;
                  max-width: 10px;
                  height: 10px;
                  width: 10px;
                  border-radius: 10px;
                  background: #f9d901 !important;
                }

                & * {
                  direction: ltr;
                }

                & > li {
                  background: #292929;
                  display: flex;
                  width: 220px;
                  & > a {
                    width: 80%;
                    color: white;
                    font-size: 14px;
                    display: flex;
                    height: 31px;
                    align-items: center;
                    padding-left: 20px;

                    & > img {
                      display: none;
                    }
                  }

                  & > button {
                    width: 20%;
                    display: flex;
                    font-size: 11px;
                    color: white;
                    border-radius: 0;
                    align-items: center;
                    justify-content: flex-end;
                  }

                  &:hover {
                    background: #f9d901;
                    max-width: 300px;
                    & > a,
                    & > button {
                      color: #292929;
                      background: transparent;
                    }

                    & > ul {
                      display: flex;
                      max-width: 490px;
                    }
                  }

                  & > ul {
                    top: 0;
                    display: none;
                    width: 100%;
                    flex-wrap: wrap;
                    min-width: 400px;
                    position: absolute;
                    margin-bottom: 35px;
                    padding: 15px 10px 4px 10px;
                    background: white;
                    height: 390px;
                    max-height: 390px;

                    overflow-y: auto;

                    position: fixed;
                    margin-left: 220px;
                    top: 148px;

                    &::before {
                      content: "";
                      width: 490px;
                      top: 148px;
                      height: 100%;
                      position: fixed;
                      display: block;
                      z-index: -1;
                      margin-left: -10px;
                      /* left: -535px; */
                      background: #fff;
                    }

                    &::-webkit-scrollbar {
                      width: 8px;
                      height: 8px;
                    }
                    
                    &::-webkit-scrollbar-track {
                      border-radius: 10px;
                      background: #eeeeee;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                      max-height: 10px;
                      max-width: 10px;
                      height: 10px;
                      width: 10px;
                      border-radius: 10px;
                      background: #f9d901 !important;
                    }

                    & > li {
                      width: 50%;
                      align-self: flex-start;
                      a {
                        display: flex;
                        color: #5f5e5e;
                        font-size: 14px;
                        line-height: 36px;
                        font-weight: bold;
                      }
                      & > button {
                        display: none;
                      }

                      & > ul {
                        display: flex !important;
                        flex-direction: column;

                        & > .category_father_name {
                          display: none;
                        }

                        & > li {
                          width: 100%;
                          & > a {
                            color: #5f5e5e;
                            font-size: 12px;
                            line-height: 25px;
                            font-weight: normal;
                          }
                        }
                      }
                    }

                    & > .category_father_name {
                      width: 100%;
                      padding-bottom: 7px;
                      border-bottom: 1px solid #e5e5e5;
                      a {
                        font-size: 16px;
                        font-weight: bold;
                        color: #3c3c3c !important;
                        line-height: 16px;
                      }
                    }
                  }
                }
              }
            }
          }

          &__login {
            display: none;
          }

          &__item {
            min-width: 120px;
            position: relative;
            & > button {
              display: none;
            }

            & > a {
              height: 35px;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                margin-right: 10px;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                filter: gray;
              }
              span {
                font-weight: bold;
                font-size: 13px;
                color: #292929;
              }
            }

            &:hover {
              & > ul {
                display: flex !important;
              }
            }

            & > ul {
              left: 0;
              z-index: 111;
              position: absolute;
              background: transparent;
              align-items: center;
              flex-direction: column;
              
              height: 390px;
              max-height: 390px;

              width: 628px;
              height: 390px;
              max-height: 390px;
              overflow-y: scroll;
              overflow-x: visible;

              direction: rtl;
              display: none;
              align-items: flex-end;

              &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
              }
              
              &::-webkit-scrollbar-track {
                border-radius: 10px;
                background: #292929;
                border: 1px solid #535353;
              }
              
              &::-webkit-scrollbar-thumb {
                max-height: 10px;
                max-width: 10px;
                height: 10px;
                width: 10px;
                border-radius: 10px;
                background: #f9d901 !important;
              }

              & * {
                direction: ltr;
              }

              & > li {
                background: #292929;
                display: flex;
                width: 220px;

                &:nth-child(2){
                  &::after {
                    content: "";
                    height: 100%;
                    z-index: -1;
                    display: block;
                    position: fixed;
                    margin-left: -100%;
                    background: #292929;
                    width: calc(100% + 220px);
                  }
                }

                &.category_father_name {
                  display: none !important;
                }

                & > a {
                  width: 80%;
                  color: white;
                  font-size: 14px;
                  display: flex;
                  height: 31px;
                  align-items: center;
                  padding-left: 20px;
                }
                & > button {
                  width: 20%;
                  display: flex;
                  font-size: 11px;
                  color: white;
                  border-radius: 0;
                  align-items: center;
                  justify-content: flex-end;
                }

                &:hover {
                  background: #f9d901;
                  & > a,
                  & > button {
                    color: #292929;
                    background: transparent;
                  }

                  & > ul {
                    display: flex;
                  }
                }

                & > ul {
                  top: 0;
                  display: none;
                  min-width: 200px;
                  position: absolute;
                  margin-bottom: 35px;
                  padding: 15px 10px 4px 10px;
                  background: white;
                  box-shadow: 1px 1px 6px #00000020;
                  flex-direction: column;
                  height: 100%;
                  max-height: 100%;
                  overflow-y: auto;
                  position: fixed;
                  margin-left: 219px;
                  top: 148px;


                  &::-webkit-scrollbar {
                    width: 8px;
                    height: 8px;
                  }
                  
                  &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background: #eeeeee;
                  }
                  
                  &::-webkit-scrollbar-thumb {
                    max-height: 10px;
                    max-width: 10px;
                    height: 10px;
                    width: 10px;
                    border-radius: 10px;
                    background: #f9d901 !important;
                  }

                  & > li {
                    width: 100%;
                    a {
                      display: flex;
                      color: #5f5e5e;
                      font-size: 12px;
                      line-height: 25px;
                      font-weight: normal;
                    }
                  }

                  .category_father_name {
                    padding-bottom: 7px;
                    border-bottom: 1px solid #e5e5e5;
                    a {
                      font-size: 16px;
                      font-weight: bold;
                      color: #3c3c3c !important;
                      line-height: 16px;
                    }
                  }
                }
              }
            }
          }

          &__item:nth-child(1n + 5) {
            & > ul {
              width: auto;
              direction: ltr;
              right: 0;
              left: unset;
              &  > li {
                flex-direction: row-reverse;

                & > a {
                  padding-left: 0;
                  padding-right: 20px;
                  justify-content: flex-end;
                }

                & > button {
                  align-items: center;
                  justify-content: flex-start;
                  svg {
                    transform: rotateY(180deg);
                  }
                }

                &:nth-child(2){
                  &::after {
                    display: none;
                  }

                  &::before {
                    content: "";
                    z-index: -1;
                    height: 100%;
                    width: calc(100% + 220px);
                    position: fixed;
                    margin-right: -100%;
                    background: #292929;
                  }
                }

                & > ul {
                  margin-right: 220px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    &__menu {
      background: #00000080;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      display: block;
      z-index: 999;

      & > .container_serie-ds {
        padding: 0;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }
        
        &::-webkit-scrollbar-track {
          border-radius: 10px;
          background: #eee;
        }
        
        &::-webkit-scrollbar-thumb {
          max-height: 10px;
          max-width: 10px;
          height: 10px;
          width: 10px;
          border-radius: 10px;
          background: #f9d901 !important;
        }

        & > li {
          &.menu__see-all{
            display: none;
          }

          &.menu__login {
            height: 48px !important;
            margin-bottom: 10px;
            a {
              height: 48px;
              img {
                margin-right: 10px;
                display: block !important;
              }
              span {
                color: white;
              }
            }
          }

          a, button svg {
            display: flex;
            align-items: center;
            height: 40px;
            color: white;
          }

          img {
            display: none;
          }

          & > a {
            display: flex;
            width: 55%;
            align-items: center;
            padding-left: 10px;
            color: white;

            &.active-item {
              color: black;
            }
          }

          & > button {
            width: 45%;
            display: flex;
            border-radius: 0;
            align-items: center;
            justify-content: flex-end;
            max-height: 40px;

            &:not([aria-expanded="false"]) {
              svg {
                color: black;
              }
              & ~ * {
                color: black;
              }
              &::before {
                content: "";
                position: absolute;
                background: #f9d901;
                left: 0;
                width: 100%;
                z-index: -1;
                height: 40px;
              }
            }
          }

          width: 100%;
          height: 40px;
          display: flex;
          flex-wrap: wrap;
          
          & > ul {
            background: white;
            padding-left: 10px;
            z-index: 2;
            * {
              color: black;
            }
            .category_father_name {
              display: none;
            }
            & > li {
              & > a {
                height: 40px;
                width: 100%;
                display: flex;
                font-weight: bold;
                align-items: center;
              }

              & > button {
                display: none;
              }

              & > ul {
                display: flex !important;
                margin-left: 50px;
                flex-direction: column;
                align-items: flex-start;
                & > li {
                  & > a {
                    height: 30px;
                    display: flex;
                    align-items: center;
                  }
                }
              }

            }
          }

        }
      }

      & > .navbar-toggler {
        top: 0;
        left: 0;
        height: 48px;
        position: fixed;
        border-radius: 0;
        margin-left: 400px;
        background: #292929;
      }

      & > ul {
        background: #292929;
        position: fixed;
        left: 0;
        width: 80vw;
        max-width: 400px;
        height: 100vh;
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__menu {
      & > .navbar-toggler {
        min-width: 48px;
        height: 48px;
        width: 48px;
        max-width: 48px;
        margin-left: 0;
        right: 0;
        left: unset;
      }

      & > ul {
        width: calc(100vw - 48px);
      }
    }
  }

  //Cart e etc...
  @media screen and (max-width: 992px){
    & > span,
    .login,
    .help {
      display: none;
    }

    &__topbar--fixed {
      display: none;
    }
  }

  .help, 
  .login {
    display: flex;
    color: yellow;
    position: relative;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 10px;
    }
    & span {
      color: white;
      line-height: 16px;
    }
  }

  .help, 
  .login,
  .cart {
    .block_hover {
      color: black;
      min-width: 130px;
      background: white;
      position: absolute;
      padding: 15px 15px 5px 15px;
      box-shadow: 1px 1px 3px #00000020;
      top: 45px;
      z-index: 999;
      display: none;
      & > * {
        display: block;
        margin-bottom: 10px;
        color: #6d6a6a;
      }
      & > a:hover {
        color: #e7ca0f;
      }
      &::before {
        content: "";
        top: -16px;
        display: flex;
        position: absolute;
        left: calc(50% - 8px);
        border: 8px solid transparent;
        border-bottom-color: white;
      }
    }

    &:hover {
      .block_hover {
        display: block;
      }
    }
  }

  .cart {
    width: 45px;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    &__qtd {
      top: 0;
      right: 0;
      width: 27px;
      height: 27px;
      color: #161616;
      font-weight: bold;
      border-radius: 50%;
      background: #f9d901;
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__cart-container {
      &.block_hover {
        right: 0;
        top: 50px;
        padding: 5px;
        min-width: 325px;
  
        &::before {
          right: 25px;
          left: auto;
          border: 8px solid transparent;
          border-bottom-color: white;
        }
      }

      .cart-container {
        &__title {
          margin-top: 5px;
          color: #4c4c4c;
          font-weight: bold;
          text-align: center;
          padding-bottom: 3px;
          border-bottom: 1px solid #e5e5e5;
        }
        &__items {
          max-height: 350px;
          overflow-y: auto;
          overflow-x: visible;
          padding-right: 15px;
          &::-webkit-scrollbar {
            width: 8px;
          }
          
          .items {
            &__item {
              display: flex;
              justify-content: space-between;
              margin-top: 12px;
              padding-bottom: 10px;
              border-bottom: 1px solid #e5e5e5;
              * {
                font-size: 10px;
              }
              .item {
                &__delete {
                  color: #c6c6c6;
                }
                &__image {
                  width: 50px;
                  max-width: 50px;
                }
                &__name {
                  color: #6d6a6a;
                  width: 50%;
                }
                &__values {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  .values {
                    &__qtd {
                      color: #6d6a6a;
                    }
                    &__price {
                      color: #2b2b2b;
                      font-weight: bold;
                    }
                  }
                }
              }
            }
          }
        }
        &__subtotal {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-bottom: 1px solid #e5e5e5;
          padding: 10px 0;
          .subtotal {
            &__title {
              color: #3d3d3d;
              font-weight: bold;
            }
            &__prices {
              display: flex;
              align-items: flex-end;
              flex-direction: column;
              .prices {
                &__price {
                  color: #6d6a6a;
                }
                &__installments {
                  color: #6d6a6a;
                  font-size: 10px;
                  strong {
                    color: #2b2b2b;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
        &__actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .actions {
            &__return {
              color: #292929;
              text-decoration: underline;
            }
            &__buy {
              height: 35px;
              width: 172px;
              color: white;
              font-size: 14px;
              border-radius: 3px;
              background: #009148;

              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      &--empty {
        min-width: 183px !important;
        padding: 5px 0 0 0 !important;
        .cart-container__title {
          color: #f90101;
        }
        img {
          margin-bottom: 0px !important;
        }
      }
    }
  }
}