html {
  * {
    font-size: 12px;
    outline: none !important;
    box-sizing: border-box !important;
    font-family: 'Open Sans', sans-serif !important;
  }

  body {
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .txt-yellow {
    color: #f9d901;
  }

  .page-title {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 2px solid #eeeeee;
  }

  .logo {
    display: flex;
    align-items: center;
    .logo__img {
      margin-right: 6px;
    }
    @media screen and (max-width:500px) {
      .logo__img {
        display: none;
      }
    }
  }

  .title-border-left {
    font-size: 20px;
    color: #292929;
    padding: 10px 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
    border-left: 4px solid #f9d901;
  }

  .container_serie-ds {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1200px){
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  button,
  input {
    outline: none;
    border: none;
    box-shadow: none;
    background: transparent;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eeeeee;
  }
  
  ::-webkit-scrollbar-thumb {
    max-height: 20px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background: #f9d901;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2); 
  }

  .form-search {
    display: flex;
    align-items: center;
    width: 50%;
    .input-text {
      background: white;
      border-radius: 3px;
      min-height: 35px;
      padding: 0 10px;
      width: 100%;
      color: #000000;
      margin-right: 10px;
      * {
        color: #a9a9a9;
      }
    }
  
    .yellow-button {
      height: 34px;
      width: 34px;
      border-radius: 3px;
      background: #f9d901;
      color: #000000;
      * {
        color: #000000;
      }
      svg {
        transform: rotate(90deg);
        font-size: 22px;
      }
    }
  }
}

.input-text {
  background: white;
  border-radius: 3px;
  min-height: 35px;
  padding: 0 10px;
  width: 100%;
  color: #000000;
  margin-right: 10px;
  * {
    color: #a9a9a9;
  }
}

.block_qtd-item {
  width: 80px;
  height: 42px;
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;

  input, button {
    width: 33%;
    height: 100%;
    border: none !important;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    padding-left: 7px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  button {
    font-size: 16px;
    color: #d4d4d4;
    font-weight: bold;
  }
}

.yellow-button {
  height: 34px;
  width: 34px;
  border-radius: 3px;
  background: #f9d901;
  color: #000000;
  * {
    color: #000000;
  }
  svg {
    transform: rotate(90deg);
    font-size: 22px;
  }
}

.menu-icon {
  font-size: 24px;
  color: #ecce02;
}
