.main{
    padding: 15px 0 180px;

    @media screen and (max-width: 800px){
        padding: 30px 0 20px;
    }

    .main__logo__page{
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        padding: 27px;

        @media screen and (max-width: 800px){
            padding: 15px 0;
        }
    }

    .main__text{
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0 5%;
        
        @media screen and (max-width: 800px){
            padding: 0;
        }

        p{
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            margin: 0 0 9px;
        }
    }

}